In [32]:
import pandas as pd
import math
import numpy as np
from scipy.stats import binom

In [2]:
S0 = 100
T = 0.25
R = 0.02
sigma = 0.3
K = 110
c = 0.01
N = 15
strike_price = 110
Rn = math.exp(R*T/N)

In [3]:
U = math.exp(sigma * math.sqrt(T/N))
D = 1/U
P = (math.exp((R-c)*T/N) - D) / (U - D)
Q = 1 - P
print(U,D,P,Q)

1.0394896104013376 0.9620105771080376 0.4924700506245105 0.5075299493754895

In [4]:
def combination(n,c):
    return math.factorial(n) / (math.factorial(c) * math.factorial(n-c))

In [5]:
def stock_price_array(n,S,u,d):
    stock_price_list = np.zeros(shape=(N+1))
    for i in range(n+1):
        stock_price_list[i] = S * u**i * d**(n-i)
    return stock_price_list

In [6]:
price_table = pd.DataFrame()
for i in range(N+1):
    stock_list = stock_price_array(i,S0,U,D)
    price_table[i] = stock_list
price_table

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,100.0,96.201058,92.546435,89.030649,85.648426,82.394692,79.264565,76.253350,73.356529,70.569757,67.888853,65.309795,62.828713,60.441887,58.145734,55.936811
1,0.0,103.948961,100.000000,96.201058,92.546435,89.030649,85.648426,82.394692,79.264565,76.253350,73.356529,70.569757,67.888853,65.309795,62.828713,60.441887
2,0.0,0.000000,108.053865,103.948961,100.000000,96.201058,92.546435,89.030649,85.648426,82.394692,79.264565,76.253350,73.356529,70.569757,67.888853,65.309795
3,0.0,0.000000,0.000000,112.320870,108.053865,103.948961,100.000000,96.201058,92.546435,89.030649,85.648426,82.394692,79.264565,76.253350,73.356529,70.569757
4,0.0,0.000000,0.000000,0.000000,116.756377,112.320870,108.053865,103.948961,100.000000,96.201058,92.546435,89.030649,85.648426,82.394692,79.264565,76.253350
5,0.0,0.000000,0.000000,0.000000,0.000000,121.367041,116.756377,112.320870,108.053865,103.948961,100.000000,96.201058,92.546435,89.030649,85.648426,82.394692
6,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,126.159778,121.367041,116.756377,112.320870,108.053865,103.948961,100.000000,96.201058,92.546435,89.030649
7,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,131.141779,126.159778,121.367041,116.756377,112.320870,108.053865,103.948961,100.000000,96.201058
8,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,136.320517,131.141779,126.159778,121.367041,116.756377,112.320870,108.053865,103.948961
9,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,141.703761,136.320517,131.141779,126.159778,121.367041,116.756377,112.320870
10,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,147.299587,141.703761,136.320517,131.141779,126.159778,121.367041
11,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,153.116390,147.299587,141.703761,136.320517,131.141779
12,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,159.162897,153.116390,147.299587,141.703761
13,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,165.448178,159.162897,153.116390
14,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,171.981662,165.448178
15,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,178.773151

In [7]:
def option_payoff(St, strike, option):
    diff = option* (St - strike)
    return np.abs(diff * (diff > 0))

In [8]:
call_payoff = option_payoff(price_table[N], strike_price, 1)
call_payoff

0      0.000000
1      0.000000
2      0.000000
3      0.000000
4      0.000000
5      0.000000
6      0.000000
7      0.000000
8      0.000000
9      2.320870
10    11.367041
11    21.141779
12    31.703761
13    43.116390
14    55.448178
15    68.773151
Name: 15, dtype: float64

In [9]:
#using binomial formula
call_price_formula = 0
for i in range(N+1):
    call_price_formula += combination(N,i) * P**i * Q**(N-i) * call_payoff[i]
call_price_formula /= math.exp(R*T)
call_price_formula

2.6040771329665606

In [10]:
#using backwardation method
def backwardation_call(last_callpayoff):
    former_callpayoff = np.zeros(last_callpayoff.shape[0]-1)
    for i in range(last_callpayoff.shape[0] - 1):
        former_callpayoff[i] = (last_callpayoff[i] * Q + last_callpayoff[i+1] * P) / math.exp(R*T/N)
    return former_callpayoff

call_price_backwardation = call_payoff
for i in range(N):
    call_price_backwardation = backwardation_call(call_price_backwardation)
call_price_backwardation

array([2.60407713])

In [11]:
#put option
put_table = price_table.copy()
for i in put_table.columns:
    put_table[i][:i+1] = option_payoff(put_table[i][:i+1],strike_price, -1)
put_table

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,10.0,13.798942,17.453565,20.969351,24.351574,27.605308,30.735435,33.746650,36.643471,39.430243,42.111147,44.690205,47.171287,49.558113,51.854266,54.063189
1,0.0,6.051039,10.000000,13.798942,17.453565,20.969351,24.351574,27.605308,30.735435,33.746650,36.643471,39.430243,42.111147,44.690205,47.171287,49.558113
2,0.0,0.000000,1.946135,6.051039,10.000000,13.798942,17.453565,20.969351,24.351574,27.605308,30.735435,33.746650,36.643471,39.430243,42.111147,44.690205
3,0.0,0.000000,0.000000,0.000000,1.946135,6.051039,10.000000,13.798942,17.453565,20.969351,24.351574,27.605308,30.735435,33.746650,36.643471,39.430243
4,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.946135,6.051039,10.000000,13.798942,17.453565,20.969351,24.351574,27.605308,30.735435,33.746650
5,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.946135,6.051039,10.000000,13.798942,17.453565,20.969351,24.351574,27.605308
6,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.946135,6.051039,10.000000,13.798942,17.453565,20.969351
7,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.946135,6.051039,10.000000,13.798942
8,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.946135,6.051039
9,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [12]:
#using backwardation
def backwardation_put(put_table, n):
    former_put = put_table[n].copy()
    last_put = put_table[n+1].copy()
    
    n_new_put = np.zeros_like(put_table[n])
    for i in range(n+1):
        n_new_put[i] = ((last_put[i] * Q + last_put[i+1] * P)) / math.exp(R*T/N)
    if np.any(n_new_put < former_put):
        print('early exercise at time period: t%d'%n)
        n_new_put = n_new_put*(n_new_put >= former_put) + former_put*(former_put > n_new_put)
    return n_new_put

In [13]:
new_put_table = put_table.copy()
for i in reversed(range(N)):
    new_put_table[i] = backwardation_put(new_put_table, i)

new_put_table

early exercise at time period: t14
early exercise at time period: t13
early exercise at time period: t12
early exercise at time period: t11
early exercise at time period: t10
early exercise at time period: t9
early exercise at time period: t8
early exercise at time period: t7
early exercise at time period: t6
early exercise at time period: t5

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,12.359785,15.076982,18.036477,21.165110,24.380542,27.605308,30.735435,33.746650,36.643471,39.430243,42.111147,44.690205,47.171287,49.558113,51.854266,54.063189
1,0.000000,9.567862,12.037191,14.824380,17.865677,21.073667,24.351574,27.605308,30.735435,33.746650,36.643471,39.430243,42.111147,44.690205,47.171287,49.558113
2,0.000000,0.000000,7.029498,9.172917,11.700114,14.571680,17.709788,21.007670,24.351574,27.605308,30.735435,33.746650,36.643471,39.430243,42.111147,44.690205
3,0.000000,0.000000,0.000000,4.825291,6.574648,8.748655,11.347473,14.323045,17.575730,20.969351,24.351574,27.605308,30.735435,33.746650,36.643471,39.430243
4,0.000000,0.000000,0.000000,0.000000,3.025704,4.338609,6.076288,8.288588,10.980589,14.090230,17.481039,20.969351,24.351574,27.605308,30.735435,33.746650
5,0.000000,0.000000,0.000000,0.000000,0.000000,1.674699,2.550728,3.800448,5.519877,7.783287,10.605267,13.897888,17.453565,20.969351,24.351574,27.605308
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.773013,1.264518,2.031012,3.190988,4.880278,7.219137,10.242885,13.798942,17.453565,20.969351
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.267000,0.475442,0.836938,1.452198,2.473200,4.107809,6.585017,10.000000,13.798942
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.052366,0.103212,0.203430,0.400957,0.790279,1.557628,3.070060,6.051039
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [14]:
price_10_table = price_table.iloc[0:11,0:11]
call_10_table = price_10_table.copy()
for i in call_10_table.columns:
    call_10_table[i][:i+1] = option_payoff(call_10_table[i][:i+1],strike_price, 1)
call_10_table

,0,1,2,3,4,5,6,7,8,9,10
0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.0,0.0,0.0,2.32087,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.0,0.0,0.0,0.00000,6.756377,2.320870,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.0,0.0,0.0,0.00000,0.000000,11.367041,6.756377,2.320870,0.000000,0.000000,0.000000
6,0.0,0.0,0.0,0.00000,0.000000,0.000000,16.159778,11.367041,6.756377,2.320870,0.000000
7,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,21.141779,16.159778,11.367041,6.756377
8,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,26.320517,21.141779,16.159778
9,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,31.703761,26.320517
10,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,37.299587

In [15]:
def backwardation_american_call(call_table, n):
    former_call = call_table[n].copy()
    last_call = call_table[n+1].copy()
    
    n_new_call = np.zeros_like(call_table[n])
    for i in range(n+1):
        n_new_call[i] = ((last_call[i] * Q + last_call[i+1] * P)) / math.exp(R*T/N)
    if np.any(n_new_call < former_call):
        print('early exercise at time period: t%d'%n)
        n_new_call = n_new_call*(n_new_call >= former_call) + former_call*(former_call > n_new_call)
    return n_new_call

In [16]:
new_call_table = call_10_table.copy()
for i in reversed(range(10)):
    new_call_table[i] = backwardation_american_call(new_call_table, i)

new_call_table

,0,1,2,3,4,5,6,7,8,9,10
0,1.646081,0.738150,0.247965,0.047354,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,2.582892,1.243824,0.454878,0.096189,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,3.964657,2.057739,0.824844,0.195384,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,5.932574,3.329730,1.474111,0.396875,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,8.619029,5.244349,2.585287,0.806156,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,12.102743,7.988276,4.420574,1.637510,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.351225,11.670488,7.291738,3.326205,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.186169,16.191041,11.383476,6.756377
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,26.348393,21.156584,16.159778
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31.716806,26.320517
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,37.299587

In [17]:
print(new_call_table.iloc[0,0])

1.646081341938997

In [18]:
futures_table = price_10_table.copy()
futures_table

,0,1,2,3,4,5,6,7,8,9,10
0,100.0,96.201058,92.546435,89.030649,85.648426,82.394692,79.264565,76.253350,73.356529,70.569757,67.888853
1,0.0,103.948961,100.000000,96.201058,92.546435,89.030649,85.648426,82.394692,79.264565,76.253350,73.356529
2,0.0,0.000000,108.053865,103.948961,100.000000,96.201058,92.546435,89.030649,85.648426,82.394692,79.264565
3,0.0,0.000000,0.000000,112.320870,108.053865,103.948961,100.000000,96.201058,92.546435,89.030649,85.648426
4,0.0,0.000000,0.000000,0.000000,116.756377,112.320870,108.053865,103.948961,100.000000,96.201058,92.546435
5,0.0,0.000000,0.000000,0.000000,0.000000,121.367041,116.756377,112.320870,108.053865,103.948961,100.000000
6,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,126.159778,121.367041,116.756377,112.320870,108.053865
7,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,131.141779,126.159778,121.367041,116.756377
8,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,136.320517,131.141779,126.159778
9,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,141.703761,136.320517
10,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,147.299587

In [19]:
def backwardation_futures(futures_table,n):
    last_futures = futures_table[n+1].copy()
    new_futures = np.zeros_like(futures_table[n])
    for i in range(n+1):
        new_futures[i] = last_futures[i] * Q + last_futures[i+1] * P
    return new_futures

In [20]:
for i in reversed(range(10)):
    futures_table[i] = backwardation_futures(futures_table, i)
futures_table

,0,1,2,3,4,5,6,7,8,9,10
0,100.166806,96.345468,92.669913,89.134579,85.734118,82.463383,79.317426,76.291486,73.380986,70.581520,67.888853
1,0.000000,104.105001,100.133422,96.313358,92.639028,89.104873,85.705544,82.435900,79.290991,76.266060,73.356529
2,0.000000,0.000000,108.198033,104.070306,100.100050,96.281259,92.608153,89.075176,85.676981,82.408426,79.264565
3,0.000000,0.000000,0.000000,112.451988,108.161973,104.035621,100.066689,96.249170,92.577289,89.045489,85.648426
4,0.000000,0.000000,0.000000,0.000000,116.873192,112.414510,108.125925,104.000949,100.033339,96.217093,92.546435
5,0.000000,0.000000,0.000000,0.000000,0.000000,121.468223,116.834241,112.377045,108.089889,103.966287,100.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,126.243913,121.427740,116.795303,112.339592,108.053865
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,131.207366,126.201839,121.387271,116.756377
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,136.365964,131.163638,126.159778
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,141.727380,136.320517
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,147.299587

In [22]:
futures_table - strike_price -new_call_table.iloc[0,0]

,0,1,2,3,4,5,6,7,8,9,10
0,-11.479276,-15.300614,-18.976169,-22.511502,-25.911964,-29.182698,-32.328655,-35.354595,-38.265096,-41.064562,-43.757228
1,-111.646081,-7.541080,-11.512659,-15.332724,-19.007054,-22.541209,-25.940537,-29.210182,-32.355090,-35.380021,-38.289552
2,-111.646081,-111.646081,-3.448048,-7.575776,-11.546031,-15.364823,-19.037928,-22.570905,-25.969101,-29.237656,-32.381516
3,-111.646081,-111.646081,-111.646081,0.805906,-3.484108,-7.610460,-11.579392,-15.396911,-19.068792,-22.600592,-25.997655
4,-111.646081,-111.646081,-111.646081,-111.646081,5.227111,0.768428,-3.520156,-7.645133,-11.612742,-15.428989,-19.099646
5,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,9.822141,5.188160,0.730963,-3.556192,-7.679794,-11.646081
6,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,14.597832,9.781659,5.149221,0.693510,-3.592216
7,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,19.561285,14.555757,9.741189,5.110296
8,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,24.719883,19.517556,14.513697
9,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,30.081299,24.674435
10,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,-111.646081,35.653506

In [23]:
price_table

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,100.0,96.201058,92.546435,89.030649,85.648426,82.394692,79.264565,76.253350,73.356529,70.569757,67.888853,65.309795,62.828713,60.441887,58.145734,55.936811
1,0.0,103.948961,100.000000,96.201058,92.546435,89.030649,85.648426,82.394692,79.264565,76.253350,73.356529,70.569757,67.888853,65.309795,62.828713,60.441887
2,0.0,0.000000,108.053865,103.948961,100.000000,96.201058,92.546435,89.030649,85.648426,82.394692,79.264565,76.253350,73.356529,70.569757,67.888853,65.309795
3,0.0,0.000000,0.000000,112.320870,108.053865,103.948961,100.000000,96.201058,92.546435,89.030649,85.648426,82.394692,79.264565,76.253350,73.356529,70.569757
4,0.0,0.000000,0.000000,0.000000,116.756377,112.320870,108.053865,103.948961,100.000000,96.201058,92.546435,89.030649,85.648426,82.394692,79.264565,76.253350
5,0.0,0.000000,0.000000,0.000000,0.000000,121.367041,116.756377,112.320870,108.053865,103.948961,100.000000,96.201058,92.546435,89.030649,85.648426,82.394692
6,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,126.159778,121.367041,116.756377,112.320870,108.053865,103.948961,100.000000,96.201058,92.546435,89.030649
7,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,131.141779,126.159778,121.367041,116.756377,112.320870,108.053865,103.948961,100.000000,96.201058
8,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,136.320517,131.141779,126.159778,121.367041,116.756377,112.320870,108.053865,103.948961
9,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,141.703761,136.320517,131.141779,126.159778,121.367041,116.756377,112.320870
10,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,147.299587,141.703761,136.320517,131.141779,126.159778,121.367041
11,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,153.116390,147.299587,141.703761,136.320517,131.141779
12,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,159.162897,153.116390,147.299587,141.703761
13,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,165.448178,159.162897,153.116390
14,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,171.981662,165.448178
15,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,178.773151

In [50]:
last_call_payoff = option_payoff(price_table[N], 100, 1)
last_put_payoff = option_payoff(price_table[N], 100, -1)
def backwardation(last_payoff,n):
    new_payoff = np.zeros(16)
    for i in range(n):
        new_payoff[i] = (last_payoff[i] * Q + last_payoff[i+1] * P)/ math.exp(R*T/N)
    return new_payoff

for i in range(5):
    last_call_payoff = backwardation(last_call_payoff, 15-i)
    last_put_payoff = backwardation(last_put_payoff, 15-i)

choose_option = ((last_call_payoff>last_put_payoff) * last_call_payoff + (last_call_payoff<last_put_payoff)*last_put_payoff)[:11]
choose_option

array([32.00116975, 26.53804768, 20.63493313, 14.37058761,  8.30887829,
        3.66677579,  9.11879811, 16.95336542, 26.22121698, 36.37349148,
       47.34341647])

In [55]:
distribution = binom.pmf(np.arange(11), 10,P)

fair_value = choose_option.dot(distribution) / math.exp(R*T*10/N)
fair_value

10.812447011754477